{% extends 'base.html' %}
{% block body %}<div class="container-fluid mx-0 px-0">
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="/static/img/contact2.png" alt="First slide">
      </div>
      
    </div>
  </div>

  <div class="card" style="width: 20rem; left:450px ;">
    <div class="card-body">
      <h5 class="card-title">Email</h5>
     
      <p class="card-text">Feel Free to Contact :) </p>
      <p>
      <a href="https://www.hemantaryapanwar@gmail.com" class="btn btn-sm btn-outline-secondary">hemantaryapanwar@gmail.com </a></p>
      <P>
      <a href="https://www.hemantaryapanwar545@gmail.com" class="btn btn-sm btn-outline-secondary">hemantaryapanwar545@gmail.com </a></p>
    </div>
  </div>
{% endblock body %}